UI/views/experimentView/index.pug
// short = ain, long = analogIn
mixin pin-selectors(short, long)
	//
		- var attr1 = {}
		- attr1["rv-each-" + short] = "sensor."+long+"puts"
		- var attr2 = {}
		- attr2["rv-each-" + short + "-pos"] = long+"PossiblePins"
		.pin-selector&attributes(attr1)
			span(rv-class-rtl="'_dir' | l10n | isEq 'rtl'") { sensor.type | getSensorType | get "#{long}puts" | get %#{short}% | l10n }
			select(rv-value=short, rv-on-change="updated")
				option(rv-value=short + "-pos")&attributes(attr2) { #{short}-pos | ternary #{short}-pos "?" }
	.pin-selector(rv-each-ain="sensor.analogInputs")
			span(rv-class-rtl="'_dir' | l10n | isEq 'rtl'") { sensor.type | getSensorType | get "analogInputs" | get %ain% | l10n }
			select(rv-value="s.wtf", rv-on-change="updated")
				option(rv-each-ain-pos="analogInPossiblePins", rv-value="ain-pos") { ain-pos | ternary ain-pos "?" }


#experimentView.view(x-view-title="experiment_setup", x-view-path="/experiment_setup")
	#top-bar
		button#experiment-menu-btn.topbarbtn.unfocus(rv-on-click="toggleMenu") &#9776;
		input#experiment-title-input(rv-value="exp.title", rv-show="state.detailsOpen", rv-placeholder="'empty_title' | l10n", dir="auto", size="1")
		div#experiment-title(rv-text="exp.title", rv-hide="state.detailsOpen")
		button.topbarbtn.unfocus(rv-on-click="toggleExperimentDetailsView")
			| { state.detailsOpen | ternary "&#10003;" "&#9998;" }
	#details-editor(rv-show="state.detailsOpen")
		textarea#details-desc(rv-value="exp.desc", rv-placeholder="'description' | l10n")
		#details-device-label(rv-l10n="'device_colon'", rv-class-rtl="'_dir' | l10n | isEq 'rtl'")
		select#details-device(rv-value="exp.device", dir="ltr")
			option(rv-each-device="deviceSelection", rv-value="index") { device }
	#sensor-editor(rv-hide="state.detailsOpen")
		.sensor-container(rv-each-sensor="exp.sensors")
			.sensor-title
				| { sensor.type | getSensorType | get "name" | l10n }
				button.sensor-remove-btn(rv-on-click="remove_sensor") &#215;
			.sensor-pins
				+pin-selectors("ain", "analogIn")
				//+pin-selectors("aout", "analogOut")
				//+pin-selectors("din", "digitalIn")
				//+pin-selectors("dout", "digitalOut")
			canvas.sensor-vis-chart(rv-hide="'1'")
			.sensor-vis-value { sensor.vis_value }
		.new-sensor-container
			.new-sensor-title(rv-l10n="'create_new_sensor'")
			.new-sensor-inner-container
				select(rv-value="state.newSensorSelection")
					option(rv-each-sensor="sensorTypes", rv-value="index") { sensor.name | l10n }
				button.new-sensor-btn(rv-on-click="add_sensor") +
	hamburger-menu(menu-items-attr="hamMenuItems", menu-open-attr="state.hamMenuOpen", rv-class-shown="state.hamMenuOpen", rv-class-rtl="'_dir' | l10n | isEq 'rtl'")

UI/dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>Loading...</title><link rel="stylesheet" href="main.css"><link id="theme-link" rel="stylesheet" rv-href="'themes/' | + theme | + 'theme.css'"><script src="system.js"></script><script src="rivets.js"></script><script src="page.js"></script></head><body><!-- Components--><template id="hamburger-template"><button class="unfocus hamburger-menu-item" rv-each-item="items" rv-on-click="item.onclick">{ item.name | l10n }</button></template><!-- Views--><div class="view" id="welcomeView" x-view-title="welcome" x-view-path="/"><div id="welcomeViewContent"><br><div class="big-btn-holder"><button class="big-btn elipsis unfocus" id="newexp-btn" rv-on-click="newExperiment" rv-l10n="'new_experiment'"></button><button class="big-btn elipsis unfocus" id="newproj-btn" rv-l10n="'new_program'"></button><button class="big-btn elipsis unfocus" id="open-btn" rv-l10n="'open'"></button></div><br><br><div class="recents-holder"><div class="recent-item" rv-each-item="recents | slice 0 4"><img class="recent-item-img" rv-src="item.type | isEq 'experiment' | ternary 'img/experiment.png' 'img/program.svg'"><div class="recent-item-title elipsis" dir="auto" rv-class-path-empty="item.path | length | ternary 0 1">{ item.title }</div><div class="recent-item-path elipsis" dir="ltr">{ item.path }</div><button class="recent-item-remove unfocus" rv-on-click="remove_recent">&#10005;</button></div><p class="no-recents-notice elipsis" rv-unless="recents | length" rv-l10n="'no_recent_projects'"></p></div></div><div id="welcomeViewDisclaimer"><p class="disclaimer">This software is licensed under GPL3<br>Copyright &#169; 2017 David Shlemayev</p></div></div><!-- short = ain, long = analogIn--><div class="view" id="experimentView" x-view-title="experiment_setup" x-view-path="/experiment_setup"><div id="top-bar"><button class="topbarbtn unfocus" id="experiment-menu-btn" rv-on-click="toggleMenu">&#9776;</button><input id="experiment-title-input" rv-value="exp.title" rv-show="state.detailsOpen" rv-placeholder="'empty_title' | l10n" dir="auto" size="1"><div id="experiment-title" rv-text="exp.title" rv-hide="state.detailsOpen"></div><button class="topbarbtn unfocus" rv-on-click="toggleExperimentDetailsView">{ state.detailsOpen | ternary "&#10003;" "&#9998;" }</button></div><div id="details-editor" rv-show="state.detailsOpen"><textarea id="details-desc" rv-value="exp.desc" rv-placeholder="'description' | l10n"></textarea><div id="details-device-label" rv-l10n="'device_colon'" rv-class-rtl="'_dir' | l10n | isEq 'rtl'"></div><select id="details-device" rv-value="exp.device" dir="ltr"><option rv-each-device="deviceSelection" rv-value="index">{ device }</option></select></div><div id="sensor-editor" rv-hide="state.detailsOpen"><div class="sensor-container" rv-each-sensor="exp.sensors"><div class="sensor-title">{ sensor.type | getSensorType | get "name" | l10n }<button class="sensor-remove-btn" rv-on-click="remove_sensor">&#215;</button></div><div class="sensor-pins"><!--- var attr1 = {}
- attr1["rv-each-" + short] = "sensor."+long+"puts"
- var attr2 = {}
- attr2["rv-each-" + short + "-pos"] = long+"PossiblePins"
.pin-selector&attributes(attr1)
	span(rv-class-rtl="'_dir' | l10n | isEq 'rtl'") { sensor.type | getSensorType | get "analogInputs" | get %ain% | l10n }
	select(rv-value=short, rv-on-change="updated")
		option(rv-value=short + "-pos")&attributes(attr2) { ain-pos | ternary ain-pos "?" }--><div class="pin-selector" rv-each-ain="sensor.analogInputs"><span rv-class-rtl="'_dir' | l10n | isEq 'rtl'">{ sensor.type | getSensorType | get "analogInputs" | get %ain% | l10n }</span><select rv-value="s.wtf" rv-on-change="updated"><option rv-each-ain-pos="analogInPossiblePins" rv-value="ain-pos">{ ain-pos | ternary ain-pos "?" }</option></select></div><!--+pin-selectors("aout", "analogOut")--><!--+pin-selectors("din", "digitalIn")--><!--+pin-selectors("dout", "digitalOut")--></div><canvas class="sensor-vis-chart" rv-hide="'1'"></canvas><div class="sensor-vis-value">{ sensor.vis_value }</div></div><div class="new-sensor-container"><div class="new-sensor-title" rv-l10n="'create_new_sensor'"></div><div class="new-sensor-inner-container"><select rv-value="state.newSensorSelection"><option rv-each-sensor="sensorTypes" rv-value="index">{ sensor.name | l10n }</option></select><button class="new-sensor-btn" rv-on-click="add_sensor">+</button></div></div></div><hamburger-menu menu-items-attr="hamMenuItems" menu-open-attr="state.hamMenuOpen" rv-class-shown="state.hamMenuOpen" rv-class-rtl="'_dir' | l10n | isEq 'rtl'"></hamburger-menu></div><!-- Scripts--><script src="compiled.js"></script><script>System.import("UI/controllers/main");</script></body></html>
